<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Cypher AI and IT Solutions</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/assets/img/favicon.ico" rel="icon">
  <link href="static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/assets/css/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: UpConstruction - v1.1.0
  * Template URL: https://bootstrapmade.com/upconstruction-bootstrap-construction-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="header d-flex align-items-center">
  <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

    <a href="index.html" class="logo d-flex align-items-center">
      <!-- Uncomment the line below if you also wish to use an image logo -->
      <img src="static/assets/img/New/Logo.png" alt="">
      <h1>Cypher IT and AI Solutions<span></span></h1>
    </a>

    <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
    <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
    <nav id="navbar" class="navbar">
      <ul>
        <li><a href="index.html" class="active">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li class="dropdown"><a href="#"><span>Projects</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
          <ul>
            <li><a href="project-details.html">Trading bots</a></li>
            <li class="dropdown"><a href="#"><span>Websites</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
              <ul>
                <li><a href="#">Football reviews</a></li>
                <li><a href="#">AI</a></li>
                <li><a href="#">Website 3</a></li>
                <li><a href="#">Website 4</a></li>
                <li><a href="#">Website 5</a></li>
              </ul>
            </li>
            <li><a href="#">Marketing</a></li>
            <li><a href="#">Finance</a></li>
            <li><a href="#">Resources</a></li>
          </ul>
        </li>
        <li><a href="services.html">Services</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </nav><!-- .navbar -->

  </div>
</header><!-- End Header -->
  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('static/assets/img/New/1.jpeg');">
      <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

        <h2>Project Details</h2>
        <ol>
          <li><a href="index.html">Home</a></li>
          <li>Project Details</li>
        </ol>

      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Projet Details Section ======= -->
    <section id="project-details" class="project-details">
      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="position-relative h-100">
          <div class="slides-1 portfolio-details-slider swiper">
            <div class="swiper-wrapper align-items-center">

              <div class="swiper-slide">
                <img src="static/assets/img/New/18.png" alt="">
              </div>

              <div class="swiper-slide">
                <img src="static/assets/img/New/19.jpg" alt="">
              </div>

              <div class="swiper-slide">
                <img src="static/assets/img/New/3.jpeg" alt="">
              </div>

              <div class="swiper-slide">
                <img src="static/assets/img/New/16.png" alt="">
              </div>

            </div>
            <div class="swiper-pagination"></div>
          </div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>

        </div>

        <div class="row justify-content-between gy-4 mt-4">

          <div class="col-lg-8">
            <div class="portfolio-description">
              <h1>Frequently Asked Questions</h1>
                <h2>Automated crypto trading platform</h2>
              <h3>How does Cypher work?</h3>
              <p>
                Once your trading bot is set up and ready to buy and sell cryptocurrencies, it will open a deal either immediately or after a signal from technical indicators is received, depending on the filters set.
              </p>
              <p>For the first order crypto bot buys the amount of base currency indicated in the settings by the user.  When the initial order is executed and the deal is open, the automated trading bot places the Take Profit order along with several Extra orders. Take profit order is the one that makes profit at the percentage level set by a user. Each time the price of cryptocurrency goes in the opposite direction than the strategy chosen, one extra order is executed and a new extra order is automatically placed. The take profit level is also reduced each time this happens. Extra orders serve to take advantage of the changing price and adapt the trading strategy according to the current market conditions.</p>
              <h3>DCA vs Grid Bot</h3>
              <h4>What Is Grid Trading?</h4>
              <p>The grid bot is a crypto trading bot designed to help traders execute the grid trading strategy. Unlike most trading strategies, the grid trading strategy works best in a ranging sideways market with no clear direction. It profits from the highs and lows of a market's price movement and is most effective when there is no discernible up or downtrend for an extended period. The greater the frequency and magnitude of price fluctuations, the more profitable the grid strategy. Simply put, grid trading strategies create a grid-like formation by scheduling or setting up buy and sell orders in a predefined price range. First, you decide on a price range for the strategy, followed by the number of "grids" you want to include. You can split your price range into multiple smaller ranges (grids) to increase the likelihood of triggering trades.</p>
              <h4>How Grid Trading Bot Works?
              </h4>
              <p>The more grids you create, the higher the trade frequency due to the reduced grid width. But the profit earned on each order will decrease. Whenever a buy order is triggered, the grid trading bots place a new sell order (at take profit level). Also, what the TradeSanta bot does is if the price continues to go down after the buy order was executed, the bot will place another buy order and separate sell order for it. These extra orders work like safety orders. Even if the market goes against your expectations and takes sideways movement later, you will be able to continue trading and executing take-profit orders for those extra buys. The grid strategy involves selling a little when the price goes up and buying a little when the price goes down as long as the price stays within the set range.</p>
              <h3>DCA Trading Strategy
              </h3>
              <h4>What Is Dollar-Cost Averaging?</h4>
              <p>Dollar-cost averaging is an investing strategy that can help you save money and reduce risk by lowering the amount you pay for investments. It allows you to buy an asset in smaller amounts rather than buying all at once. We'll cover the DCA bot for long strategy, which first buys cryptocurrency and later sells it at a higher price. For the short trading bot, the first order would be a sell order, and the TP order would be a buy order at a lower price. The dollar-cost averaging bot places the first buy order and extra orders if the price goes in the opposite direction of the strategy chosen. For all the buy orders it placed previously, it places only one take profit order. The price of taking profit is recalculated with every new buy order so that the profit for all the orders places would equal the TP parameter you set.</p>


              <!--
              <div class="testimonial-item">
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
                <div>

                  <img src="static/assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                  <h3>Sara Wilsson</h3>
                  <h4>Designer</h4>
                </div>
              </div>

              <p>
                Impedit ipsum quae et aliquid doloribus et voluptatem quasi. Perspiciatis occaecati earum et magnam animi. Quibusdam non qui ea vitae suscipit vitae sunt. Repudiandae incidunt cumque minus deserunt assumenda tempore. Delectus voluptas necessitatibus est.

              <p>
                Sunt voluptatum sapiente facilis quo odio aut ipsum repellat debitis. Molestiae et autem libero. Explicabo et quod necessitatibus similique quis dolor eum. Numquam eaque praesentium rem et qui nesciunt.
              </p>

            </div>
          </div>

          <div class="col-lg-3">
            <div class="portfolio-info">
              <h3>Project information</h3>
              <ul>
                <li><strong>Category</strong> <span>Web design</span></li>
                <li><strong>Client</strong> <span>ASU Company</span></li>
                <li><strong>Project date</strong> <span>01 March, 2020</span></li>
                <li><strong>Project URL</strong> <a href="#">www.example.com</a></li>
                <li><a href="#" class="btn-visit align-self-start">Visit Website</a></li>
              </ul>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Projet Details Section -->

  </main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer" class="footer">

  <div class="footer-content position-relative">
    <div class="container">
      <div class="row">

        <div class="col-lg-4 col-md-6">
          <div class="footer-info">
            <h3><a href="index.html" class="logo">
              <!-- Uncomment the line below if you also wish to use an image logo -->
              <img src="static/assets/img/New/Logo.png" alt=""></a>Cypher AI</h3>
            <p>
              <strong>Phone:</strong> +91 88008 27118<br>
              <strong>Email:</strong> newageoftechnologies@protonmail.com<br>
            </p>
            <div class="social-links d-flex mt-3">
              <a href="https://www.twitter.com" class="d-flex align-items-center justify-content-center"><i class="bi bi-twitter"></i></a>
              <a href="https://www.facebook.com" class="d-flex align-items-center justify-content-center"><i class="bi bi-facebook"></i></a>
              <a href="https://www.instagram.com" class="d-flex align-items-center justify-content-center"><i class="bi bi-instagram"></i></a>
              <a href="https://www.linkedin.com" class="d-flex align-items-center justify-content-center"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div><!-- End footer info column-->

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>LINKS</h4>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Terms of service</a></li>
            <li><a href="#">Privacy policy</a></li>
          </ul>
        </div><!-- End footer links column-->

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>OUR IT SERVICES</h4>
          <ul>
            <li><a href="#">Web Design</a></li>
            <li><a href="#">Web Development</a></li>
            <li><a href="#">Product Management</a></li>
            <li><a href="#">Marketing</a></li>
            <li><a href="#">Graphic Design</a></li>
          </ul>
        </div><!-- End footer links column-->

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>AI SERVICES</h4>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Terms of Service</a></li>
            <li><a href="#">Privacy Policy</a></li>
          </ul>
        </div><!-- End footer links column-->

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>FINANCIAL SERVICES</h4>
          <ul>
            <li><a href="#">Trading</a></li>
            <li><a href="#">Recommended Exchanges</a></li>
            <li><a href="#">Trading view</a></li>
            <li><a href="#">Resources</a></li>
            <li><a href="#">Solutions</a></li>
          </ul>
        </div><!-- End footer links column-->

      </div>
    </div>
  </div>

  <div class="footer-legal text-center position-relative">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Cypher AI</span></strong> All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/upconstruction-bootstrap-construction-website-template/ -->

      </div>
    </div>
  </div>

</footer>
<!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets/vendor/aos/aos.js"></script>
  <script src="static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/assets/js/main.js"></script>

</body>

</html>